langchain
ipykernel
langchain-community
pypdf
langchain-text-splitters
chromadb
langchain-ollama
python-dotenv
langchain-openai
beautifulsoup4
faiss-cpu
streamlit
langchain_groq
fastapi
langserve
uvicorn
sse_starlette
pydantic==1.10.17
pydantic-settings==0.2.5
qdrant-client>=1.7.0

